.App {
  text-align: center;
}

#block-nav {
  background-color: rgb(107, 92, 69);
  padding: 10px; 
}

.elements-nav {
  display: inline;
}

.btn-nav {
  background-color: rgb(245, 211, 167);
  color: black;
  border: none; 
  font-size: 25px;
  padding: 10px; 
  border-radius: 18%; 
  cursor: pointer; 
  margin: 0 5px; 
  transition: background-color 0.9s; 
}

.btn-nav:hover {
  background-color: #eee8e3; 
}

form label {
  font-weight: bold; 
}

form button {
  font-weight: bold; 
  font-size: 18px; 
  padding: 5px 10px; 
}

.back-container {
  background-color: #f5f1ea; 
  padding: 20px; 
}

.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f1ea;
  padding: 20px;
  text-align: center;
}

.table-container {
  margin: 0 auto;
  width: 17%; 
}


